# Default ignored files
# -------- JetBrains / CLion --------
.idea/
PyZadaci/.venv
# build folderi (CLion/CMake)
cmake-build-*/
CMakeFiles/
CMakeCache.txt
Testing/
Makefile
install_manifest.txt
compile_commands.json
cmake_install.cmake

# -------- C / C++ artefakti --------
*.o
*.obj
*.lo
*.la
*.al
*.deps
*.d
*.a
*.lib
*.so
*.dylib
*.dll
*.exe
*.out
*.app
*.pdb
*.ilk
*.exp
*.manifest
*.log

# -------- Python --------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.egg-info/
.eggs/
.build/
dist/
build/
pip-wheel-metadata/
.mypy_cache/
.pytest_cache/
.ipynb_checkpoints/

# -------- Editors --------
.vscode/
*.swp
*.swo

# -------- OS junk --------
.DS_Store
Thumbs.db
desktop.ini

